.footerSider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.footerSider > p{
    display: block;
}
input::placeholder{
    color: white;
}
.input{
    width: 80%;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background: #515b60;
}
.image{
    position: relative;
    left: 180px;
    top: -27px;
}

.footer{
    background: #263238;
    padding: 4% 0;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 20%;
    margin-top: 0;
}
@media only screen and (max-width: 728px) {

    .footerSider{
        display: none;

    }
}