.clientSection{
    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40%
}
.logoSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.clientSection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.p1{
    font-weight: bold;
    font-size: 35px;
    color: #292828;
    margin-top: 0;
    margin-bottom: 0;
}
.p2{
    font-weight: bold;
    font-size: 15px

}
@media only screen and (max-width: 728px){
    .p1{
        text-align: center;
        font-size: 25px;
    }
}